<h2>Welcome to PizzaShop</h2>
<div class=container>
	
<div>
<img title="Veg pizza" src="/images/veg.jpg"></img>

<button class="btn btn-primary" onclick="something()">Order</button>
</div>
</br>

<div>
<img title="Hawaiian pizza" src="/images/hawaiian.jpg"></img>

<button class="btn btn-primary" onclick="something()">Order</button>
</div>
<br>
	
</br>

<div>
<img title="Pepperoni pizza" src="/images/pepperoni.jpg"></img>

<button class="btn btn-primary" onclick="something()">Order</button>
</div>
</div>